* {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, serif;
}

body {
	background-color: #7FD991;
	border: 4px solid black;
}

h1 {
	margin: 10px;
}

h2 {
	text-align: left;
	font: bold small-caps 120%/1.3 "trebuchet ms", Helvetica, Arial,
		Sans-Serif;
	color: #363;
	margin: .3em 0;
}

p,input {
	margin: 8px;
}

#header {
	height: 50px;
	background-color: black;
	font: 25px;
	color: #999;
	border-top: 14px solid #7FD991;
	padding-left: 5px;
	padding-top: 10px;
}

/* #footer { */
/* 	border-top: 1px solid gray; */
/* 	padding-top: 10px; */
/* 	clear: both; */
/* } */